<h1>login</h1>
<form activation="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="email" required> 
    </div>
    <section>
        <button type="submit">Login</button>
    </section>
    <a href="/register">Register</a>
</form>