h1 {
    color: black;
}

* {
    background-color: burlywood;
}

table, td {
    border: 1px solid black;
}

#center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.tac {
    text-align: center;
    border: 1px solid coral;
    height: 10vh;
    width: 20vw;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    float: inline-end
}